.nodePad {
  background-color: antiquewhite;
  width: 800pt;
  height: 400pt;
  margin: 10pt;
}

.form,
.btn {
  display: flex;
  justify-content: center;
  margin-top: 10pt;
}

.node {
  width: 20pt;
  height: 20pt;
  border-radius: 50%;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
